# 忽略.vscode文件夹
.vscode/
.VSCodeCounter

# 忽略工作区文件
*.code-workspace

# 忽略数据文件夹
data
Data

# 忽略配置文件夹
config

# 忽略播放列表文件夹
Playlists

# 忽略专辑封面文件夹
app/resource/Album_Cover
app/resource/crawl_album_covers
app/temp

# 忽略json文件
*.json

# 忽略python缓存文件
*/__pycache__
*.py[cod]

# 忽略音频文件
app/resource/test_audio
app/download

# 忽略测试文件
test.py
demo.py