# 忽略.vscode文件夹
.vscode/
.VSCodeCounter

# 忽略数据文件夹
Data/

# 忽略配置文件夹
config/

# 忽略播放列表文件夹
Playlists/

# 忽略专辑封面文件夹
resource/Album_Cover/
resource/crawl_albums/

# 忽略json文件
*.json

# 忽略eddx文件
*.eddx

# 忽略python缓存文件
*/__pycache__
*.py[cod]

# 忽略日志文件
*.log

# 忽略音频文件
resource/test_audio/

# 忽略测试文件
test.py
demo.py

# 忽略备份文件夹
backup/