appdirs==1.4.4
astroid==2.3.3
autopep8==1.5
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
colorthief==0.2.1
comtypes==1.1.7
cssselect==1.1.0
enum34==1.1.10
fake-useragent==0.1.11
future==0.18.2
fuzzywuzzy==0.18.0
idna==2.10
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.6.2
mccabe==0.6.1
mutagen==1.44.0
numpy==1.18.1
opencv-python==4.2.0.34
parse==1.16.0
Pillow==7.2.0
pinyin==0.4.0
psutil==5.7.2
pycaw==20181226
pycodestyle==2.5.0
pyee==7.0.2
pylint==2.4.4
pyppeteer==0.2.2
PyQt5==5.13.2
PyQt5-sip==12.7.1
pyqt5-tools==5.13.2.1.6rc1
pyquery==1.4.1
python-dotenv==0.14.0
python-Levenshtein==0.12.0
pywin32==227
pywin32-ctypes==0.2.0
requests==2.23.0
requests-html==0.10.0
scipy==1.5.2
selenium==3.141.0
six==1.14.0
soupsieve==2.0.1
system-hotkey==1.0.3
tqdm==4.48.2
urllib3==1.25.10
w3lib==1.22.0
websockets==8.1
wincertstore==0.2
wrapt==1.11.2
yapf==0.30.0
tinytag==1.4.0