QWidget#subPanel{
    background-color: white;
}

QLabel{
    background-color: transparent;
    color: black;
    font-family: 'Microsoft YaHei';
}

QLabel#titleLabel{
    font-size: 22px;
}

QLabel#contentLabel{
    font-size: 11pt;
}

QPushButton {
    background-color: rgb(204, 204, 204);
    font: 19px 'Microsoft YaHei';
    border: transparent;
}

QPushButton:pressed:hover {
    background-color: rgb(153, 153, 153);
}

QPushButton:hover {
    background-color: rgb(230, 230, 230);
}