QScrollBar#minScrollBar {
    background: transparent;
    width: 3px;
}

/*隐藏上箭头*/
QScrollBarr#minScrollBar::sub-line {
    background: transparent;
}

/*隐藏下箭头*/
QScrollBar#minScrollBar::add-line {
    background: transparent;
}

QScrollBar#minScrollBar::handle {
    background: rgb(128, 128, 128);
    border: 2px solid rgb(128, 128, 128);
    border-radius: 1px;
    min-height: 40px;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
}
