QCheckBox {
    spacing: 13px;
    font: 18px 'Microsoft YaHei';
    background-color: transparent;
}

QCheckBox::indicator {
    width: 22px;
    height: 22px;
    border: 1px solid black;
}

QCheckBox::indicator:checked {
    border-image: url(resource/images/white_ok_18_18.png);
}