
/*设置列表视图样式*/
QListWidget {
    /*selection-color:white;*/
    border: transparent;
    min-width: 1021px;
    outline: none;
    alternate-background-color: white;
    background: rgb(242, 242, 242);
    padding: 0px;
}

/*设置鼠标悬浮时的颜色*/
QListWidget::item:hover {
    background-color: rgb(217, 217, 217);
}

/*设置项目选中时的颜色*/
QListWidget::item:selected:!hover {
    background-color: rgb(0, 153, 188);
}

QListWidget::item:hover:selected {
    background-color: rgb(0, 107, 131);
}
