QWidget#songerTabInterface {
    background-color: white;
}

QPushButton#randomPlayBt {
    background-color: white;
    border: none;
    margin-left: 10px;
}

QLabel {
    margin-top: 1px;
    font-size: 16px;
    font-family: 'Microsoft YaHei';
}

QLabel#AToZ {
    padding-top: 1px;
    color:rgb(102, 102, 102);
    font:16px 'Microsoft YaHei';
}