QScrollArea {
    border: none;
    background-color: transparent;
}

QWidget {
    background-color: transparent;
}

QLabel#loadingLabel{
    color: rgba(255, 255, 255, 0.6);
    font: 30px 'Segoe UI', 'Microsoft YaHei';
}
