QLabel#albumNameLabel{
    color:white;
    font: 24pt 'Microsoft YaHei';
    font-weight: 500;
}

QLabel#songerNameLabel,
QLabel#yearTconLabel {
    color: white;
    font: 9pt 'Microsoft YaHei';
    /*font: 15px 'Microsoft YaHei';*/
}

